@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/media/fonts/Roboto-Regular.ttf) format("truetype");
}

body {
  font-family: Roboto, sans-serif;
}

.e-container {
  gap: 8px;
  width: 256px;
}

.e-button {
  height: 40px;
  padding: 0 16px;
  background-color: darkmagenta;
  color: lightgrey;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.e-button:hover {
  background-color: #740c74;
  color: darkgrey;
  border: 2px solid darkmagenta;
  font-weight: 500;
  font-size: 14px;
}
