@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/media/fonts/Roboto-Regular.ttf) format("truetype");
}

body {
  font-family: Roboto, sans-serif;
}

.e-container {
  gap: 8px;
  width: 256px;
}

.e-button {
  height: 40px;
  padding: 0 16px;
  background-color: darkmagenta;
  color: lightgrey;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.e-button:hover {
  background-color: #740c74;
  color: darkgrey;
  border: 2px solid darkmagenta;
  font-weight: 500;
  font-size: 14px;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}