html {
  margin: 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  font-family: system-ui, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--font-color);
}

#root {
  height: 100%;
}
